/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
}

.card-wrapper {
  display: flex;
  height: 100vh;
}
@media (max-width: 599px) {
  .card-wrapper {
    flex-direction: column-reverse;
    height: auto;
  }
}

.card-logo {
  width: 180px;
  padding-bottom: 150px;
}
@media (max-width: 599px) {
  .card-logo {
    position: absolute;
    top: 40px;
    width: 130px;
  }
}

.heading-section {
  width: 60%;
  background-image: url(../images/bg-pattern-desktop.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left bottom;
  padding: 100px 200px;
}
.heading-section .main-title {
  font-size: 70px;
  text-transform: uppercase;
  max-width: 400px;
  letter-spacing: 15px;
  line-height: 1;
}
.heading-section .main-title .title-highlight {
  color: hsl(0deg, 36%, 70%);
  font-weight: 300;
}
.heading-section .main-p {
  max-width: 450px;
  line-height: 30px;
  color: hsl(0deg, 36%, 70%);
  padding: 35px 0;
}
@media (max-width: 599px) {
  .heading-section {
    padding: 0 35px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .heading-section .main-title {
    font-size: 40px;
    margin-top: 50px;
  }
  .heading-section .main-p {
    font-size: 14px;
  }
}

.email-form {
  display: flex;
  align-items: center;
  position: relative;
  max-width: 430px;
}
.email-form .email-input {
  width: 500px;
  max-width: 500px;
  color: hsl(0deg, 36%, 70%);
  padding: 1rem 2rem;
  border-radius: 30px;
  outline: none;
  border: 1px solid rgba(206, 151, 151, 0.3);
  font-size: 16px;
}
.email-form .email-input::-moz-placeholder {
  color: rgba(206, 151, 151, 0.6);
}
.email-form .email-input:-ms-input-placeholder {
  color: rgba(206, 151, 151, 0.6);
}
.email-form .email-input::placeholder {
  color: rgba(206, 151, 151, 0.6);
}
.email-form .submit-button {
  position: absolute;
  right: 1px;
  top: 1px;
  background: linear-gradient(135deg, hsl(0deg, 80%, 86%), hsl(0deg, 74%, 74%));
  cursor: pointer;
  border: none;
  padding: 1.15rem 3rem;
  border-radius: 30px;
  color: #fff;
  box-shadow: 0 10px 40px rgba(206, 151, 151, 0.6);
}
.email-form .submit-button:hover {
  background: rgba(206, 151, 151, 0.5);
}
.email-form .error-icon {
  position: absolute;
  right: 120px;
  display: none;
}
@media (max-width: 599px) {
  .email-form .error-icon {
    right: 70px;
  }
}
@media (max-width: 599px) {
  .email-form .submit-button {
    padding: 0.75rem 1.5rem;
  }
  .email-form .email-input {
    padding: 0.7rem 1rem;
    font-size: 14px;
  }
}

.validation-output {
  text-align: left;
  padding-top: 1rem;
}

.img-container {
  width: 40%;
  background: url(../images/hero-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 599px) {
  .img-container {
    width: 100%;
    background: url(../images/hero-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 100px;
    padding: 125px 0;
  }
}

.attribution {
  color: hsl(0deg, 36%, 70%);
  text-align: center;
  padding-top: 100px;
}

.attribution a:visited {
  color: hsl(0deg, 6%, 24%);
}

@media (min-width: 600px) and (max-width: 1100px) {
  .card-wrapper {
    flex-direction: column-reverse;
    align-items: center;
    overflow: auto;
  }
  .img-container {
    width: 100%;
  }
  .img-container .hero-image {
    padding: 200px;
  }
  .heading-section {
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}/*# sourceMappingURL=main.css.map */